.track{
	text-transform: lowercase;
	color: green;
}
.artist{
	font-weight: bold;
	font-size: 120%;
}
.album{
	font-style: italic;
}

ul {
    border: 1px solid black;
}
.closer{
	font-size: 80%;
	font-style: italic;
}